.wrapper {
  background-color: #f3f0e6;
  position: relative;
  z-index: 1;
  padding-top: 100px;
}
.offer__title {
  z-index: 1000;
  position: absolute;
  left: 1%;
  top: 5%;

  font-family: "Rubik Mono One";
  font-style: normal;
  font-weight: 400;
  font-size: 190px;
  line-height: 150px;
  /* or 79% */

  text-align: center;
  letter-spacing: -0.05em;

  color: #c1102a;

  text-shadow: 0px 8px 8px #8a1111;
  filter: blur(2px);
  z-index: -1;
}

.offers {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: baseline;
  margin-bottom: 40px;
  padding-top: 20px;
}
.offer__item {
  width: 30%;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: pointer;
}
.offer__item:hover > .offerItem__img {
  transition: 0.3s;
  filter: drop-shadow(40px 0px 50px rgba(40, 7, 7, 0.71));
  transform: rotate(0deg);
  scale: 1.1;
}
.offer__item:hover .offerItem__buy {
  transition: 0.3s;
  background-color: #000000;
  color: #ffffff;
}
.offerItem__img {
  width: 100%;
  max-width: 80px;
  height: auto;
  margin-bottom: 20px;

  filter: drop-shadow(30px 0px 40px rgba(40, 7, 7, 0.41));
  transform: rotate(25deg);
  transition: 0.3s;
}

.offerItem__title {
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.05em;
  margin-bottom: 15px;

  color: #000000;

  text-shadow: 0px 8px 8px #9f9797;
}
.offerItem__subtitle {
  font-family: "Rosarivo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #000000;

  margin-bottom: 10px;
}
.offerItem__buttons {
  display: flex;
  align-items: center;
}

.offerItem__buy {
  width: 158px;
  height: 45px;
  background-color: #c1102a;
  color: #ffffff;
  font-family: "Rubik One";
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  margin-right: 20%;
}

.offerItem_details {
  font-family: "Rubik One";
  font-weight: 400;
  font-size: 24px;
  line-height: 30px;
  text-decoration: none;

  color: #000000;
}
